body {
	background: url(../images/bg_top.png) right repeat, url(../images/bg_top.png) top repeat, #006283;
	background-size: 300px;
	background-attachment: fixed;
}

#lines-header {
	background: transparent;
	text-align: center;
}

#lines-header .logo {
	width: 60%;
	margin: 5% 0;
	max-width: 680px;
	min-width: 300px;
}

@font-face {
	font-family: 'GeosansLight';
	src: url('../fonts/GeosansLight.ttf');
	-webkit-font-smoothing: antialiased;
	font-smooth: always;
}

h2, h3, h4 {
	font-family: 'GeosansLight', 'Helvetica', arial, serif !important;
	font-weight: bolder;
	margin-top: 0px !important;
}

#about, #clients-and-support{
	background: #FFF;
	padding: 20px;
}

#services {
	background: #F1F1F1;
	padding: 20px;
}

#services #mobile {
	width: 100%;
	height: 150px;
	margin-bottom: 5px;
	background: url(../images/services/mobile.png) center no-repeat, url(../images/services/bg_item.png) center repeat, #F1F1F1;
	background-size: auto 70%, auto;
}

#products {
	background: #DDD;
}

#products a {
	text-decoration: none;
	color: #333;
}

#products #evita {
	width: 100%;
	height: 180px;
	margin-bottom: 5px;
	background: url(../images/evita/logo.png) center no-repeat, url(../images/evita/bg_item.png) center repeat, #DDD;
	background-size: auto 70%, auto;
}

#clients img {
	height: 60px;
}

#support img {
	height: 50px;
}

footer {
	background: transparent;
	padding: 10px;
	font-size: 12px;
	color: #FFF;
	text-align: center;
}